/**********************************************GENERAL*****************************************************************/
div {
  font-size: 20px;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1em;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.border-bottom {
  border-bottom: 1px solid #eeeeee;
}
.inset {
  padding: 1vh;
}
.row {
  margin: 0;
}
/**********************************************LANDER.PHP**************************************************************/
.landerImage {
  width: 100%;
  height: 30vh;
  position: absolute;
}
.spacer {
  height: 30vh;
}
/**********************************************NAVBAR.PHP**************************************************************/
.navbar {
  padding: 2vh;
  text-transform: lowercase;
  -webkit-transition: padding .7s;
  -moz-transition: padding .7s;
  transition: padding .7s;
}
/***********************************************ABOUT.PHP**************************************************************/
.landerAbout {
  height: 80vh;
}
/************************************************WALK.PHP**************************************************************/
.theWalk {
  width: 100%;
  height: 70vh;
  background-image: url('//placebear.com/1000/600');
  background-size: cover;
  background-attachment: fixed;
  padding: 7vh;
}
.theWalk .walkContent {
  background-color: white !important;
  opacity: 0.5;
  height: 56vh;
}
/**********************************************EVENTS.PHP**************************************************************/
.eventSection {
  margin: 7vh;
}
.eventSection .eventImage {
  padding: 2vh;
}
.text-white {
  color: #fff !important;
}
.btn-dark {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}
.eventSection {
  color: ghostwhite;
  padding: 20px;
  background-color: #3e3e3b;
}
/**********************************************FOOTER.PHP**************************************************************/
.footer {
  background-color: lightgray;
  height: 30vh;
}
.footer .footer-hover {
  list-style: none;
  font-size: 2em;
}
.footer .insideCol {
  padding: 1vh;
}
.footer .righter {
  margin-left: 22vh;
}
.navButtonRow {
  padding-bottom: 22px;
}
.arrowNav {
  height: 45px;
  width: 45px;
  border: 2px solid #bababa;
  border-radius: 50%;
  color: white;
  transition: all 0.7s;
  background-color: lightgray;
  cursor: pointer;
  position: absolute;
  z-index: 9999 !important;
}
/**********************************************CONTACTUSMODAL.PHP******************************************************/
#mailerForm {
  width: 100%;
  padding: 20px;
}
.contactUsText {
  color: white;
}
.contactUsContainer {
  margin-bottom: 20px;
}
.contactIcon {
  width: 30px;
}
